<!DOCTYPE html>
<html>
<head>
    <title>File Uploaded</title>
    <style>
        pre {
            font-family: "Courier New", monospace;
            background-color: #f1f1f1;
            padding: 10px;
            white-space: pre-wrap; /* Permet aux sauts de ligne de se produire */
            overflow: auto;
            max-height: 500px; 
        }
       
    </style>
    
</head>

<body>
    <div>
        <h1>File scanned successfully</h1>
        <pre>{{ extracted_text }}</pre>
    </div>
</body>

</html>
